In [ ]:
# 파일에 들어있는 단어수를 계산하여 출력

with open('m.txt', 'r') as f :
    d = f.read()
    tmp = d.split()
    print('단어수: %d' %len(tmp))

In [ ]:
# 파일을 읽고 파일의 내용에서 나타나는 문자들에 대해 자주 나타나는 문자를 출력
#[] ->[]회 나타남

def datacnt(txt) :
    
    with open(txt,'r') as f :
        d = f.read()
        tmp = d.split()
        s = set(d.split())
        x = {}
        
        for i in d :
                
            if i == x :
                x[i] +=1                
            
            else :
                x[i] = 1
    return x

r = datacnt('m.txt')
r = sorted(r.items(), key = lambda x : x[1], reverse = True)

print(r)

for i, freq in r :
    if i == '\n' :
        continue
    print('[%c] - > [%d]회 나타남' %(i,freq))

In [ ]:
# txt 파일에서 특정 단어 t1(a)를 다른 단어 t2(A)로 변경하여 출력하세요

with open('mydata.txt', 'r') as f :
    with open('mydata1.txt', 'w') as h :
        text = f.read()
        text = text.replace('a', 'A')
        h.write(text)
print('%s를 %s로 변경했습니다.' %('a', 'A'))

def datacnt(txt) :
    
    with open(txt,'r') as f :
        d = f.read()
        tmp = d.split()
        s = set(d.split())
        x = {}
        
        for i in d :
                
            if i == x :
                x[i] +=1                
            
            else :
                x[i] = 1
    return x

r = datacnt('mydata1.txt')
r = sorted(r.items(), key = lambda x : x[1], reverse = True)

print(r)

for i, freq in r :
    if i == '\n' :
        continue
    print('[%c] - > [%d]회 나타남' %(i,freq))

In [ ]:
with open('modex.py', 'w') as f :
    f.write(
'''
def add(a, b) :
    return a+b
''')

In [ ]:
with open('modex.py', 'r') as f :
    d = f.read()
    print(d)

In [ ]:
import modex
modex.add(1,1)

In [ ]:
with open('modex1.py', 'w') as f :
    f.write(
'''
def add(a, b) :
    return a + b
print(add(1,1))
''')

In [ ]:
import modex1.py

In [ ]:
!python add modex1.py

파이썬 if __name__ == "__main__" 의미

- 메인 함수의 선언, 시작을 의미합니다. 해당 코드 밑에 main 등의 함수 호출 코드를 작성해서 함수의 기능을 수행
- 직접 mod.py 파일을 실행하는 경우에는 __name___ 변수에 __main__ 이라는 값이 할당되고 이 조건절이 참이 되어 if문 다음 문장들이 수행
- 모듈을 불러와서 사용하는 경우 __name__ 변수에는 모듈 이름이 저장되고 이 조건절이 거짓이 되어 if문 다음 문장들이 수행되지 않음
- if __name__ == "__main__"와 같이 조건문을 사용하여 터미널에서와 같이 직접 호출되어 사용될 때는 그 자체로 기능을 수행하고, 동시에 다른 모듈에서 필요한 함수 등을 제공

In [ ]:
with open('modex2.py', 'w') as f :
    f.write(
'''
def add(a, b) :
    return a + b
if __name__ == "__main__" :
    print(add(1,1))
''')

In [ ]:
!python modex2.py

In [ ]:
import modex2

In [ ]:
# 사칙연산 기능을 포함하는 모듈을 작성후 임포트 해서 사칙연산을 수행하세요. calt4

with open('calt4.py', 'w') as f :
    f.write(
'''
def cal(a, b) :
    return a + b
if __name__ == "__main__" :
    print(cal(a,b))
''')

In [ ]:
!python calt4.py

In [ ]:
with open('sys1.py', 'w') as f :
    f.write(
'''
import sys
args = sys.argv[1:]
for i in args :
    print(i)
''')

In [ ]:
!python sys1.py aaa bbb ccc

#### 쓰레드 (Thread)

파이썬 프로그램은 기본적으로 하나의 쓰레드(Single Thread)에서 실행된다. 즉, 하나의 메인 쓰레드가 파이썬 코드를 순차적으로 실행한다. 코드를 병렬로 실행하기 위해서는 별도의 쓰레드(Subthread)를 생성해야 하는데, 파이썬에서 쓰레드를 생성하기 위해서는 threading 모듈 (High 레벨) 혹은 thread 모듈 (Low 레벨)을 사용할 수 있다. 일반적으로 쓰레드 처리를 위해서는 thread 모듈 위에서 구현된 threading 모듈을 사용하고 있으며, thread 모듈은 (deprecate 되어) 거의 사용하고 있지 않다.

In [ ]:
import time

def long_task() :
    for i in range(5) :
        time.sleep(0.5)
        print('work : %s\n' % i)

print('start')

for i in range(5) :
    long_task()
    
print('end')

In [ ]:
# 파이썬에서 쓰레드를 실행하기 위해서는, threading 모듈의 threading.Thread() 함수를 호출하여 
# Thread 객체를 얻은 후 Thread 객체의 start() 메서드를 호출
# 쓰레드가 실행할 함수 (혹은 메서드)를 작성하고 그 함수명을 threading.Thread() 함수의 target 아큐먼트에 지정
# 프로그램을 수정하고 실행해 보면 25초 걸리던 작업이 5초 정도에 수행되는 것을 확인할 수 있다. 
# threading.Thread를 사용하여 만든 스레드 객체가 동시 작업을 가능하게 해 주기 때문임

import time
import threading



def long() :
    for i in range(5) :
        time.sleep(1)
        print('work : %s\n' % i)

        
print('start')
        
threads = []    

for i in range(5) :
    t = threading.Thread(target = long)
    threads.append(t)

for t in threads :
    t.start()
    
for t in threads :
    t.join() # join 으로 스레드가 종료 될 때까지 기다린다.
    
print('END')

#### 파이썬에서 언더바/언더스코어(_) 의 의미와 역할

일단 6개의 다른 용도
- 인터프리터에서의 사용
- 무시하는 값
- 루프에서 사용
- 숫자값의 분리
- 명명용
    - 앞에 하나가 쓰이는 경우
    - 뒤에 하나가 쓰이는 경우
    - 앞에 두개가 쓰이는 경우
    - 앞 뒤로 두개씩 쓰이는 경우

https://eine.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%97%90%EC%84%9C-%EC%96%B8%EB%8D%94%EB%B0%94%EC%96%B8%EB%8D%94%EC%8A%A4%EC%BD%94%EC%96%B4-%EC%9D%98-%EC%9D%98%EB%AF%B8%EC%99%80-%EC%97%AD%ED%95%A0

In [ ]:
# 파이썬 인터 프리터에 가장 마지막 표현식의 결과값을 자동적으로 _라는 변수에 저장

5 + 4

In [ ]:
_

In [ ]:
a, _, b = (1,2,3) # a = 1 _무시 b = 3

print(a,b)

a, *_, b = (7,6,5,4,3,2,1)
print(a, b)

In [ ]:
for _ in range(5) :
    print(_)

In [ ]:
lan = ['a', 'b', 'c']

for _ in lan :
    print(_)

In [ ]:
_= 5
while _ < 10 :
    print(_, end = ' ')
    _ += 1

In [ ]:
# 숫자가 길다면 자릿수 구분을 위해 사용

M = 1_000_000
bina = 0b_0010
octa = 0o_64
hexa = 0x_23_ab

print(M)
print(bina)
print(octa)
print(hexa)

In [ ]:
# __init__ 생성자 호출없이 초기화할때 호출되는 함수
# 앞의 하나의 _로 시작하는 이름은 내부 사용용

class Test :
    def __init__(self) :
        self.name = 'datacamp'
        self._num = 7
obj = Test()
print(obj.name)
print(obj._num)

In [ ]:
# 마지막 부분에 언더바를 하나 추가하면 파이썬의 기본 키워드와 충돌 방지

def function(class) :
    pass

In [ ]:
def function(class_) :
    pass

In [ ]:
# titanic 데이터셋에서 age 컬럼을 아래와 같이 범주화 하세요.
# Baby child Tennager Young Adult Elderly

In [ ]:
import seaborn as sns

tt = sns.load_dataset('titanic')
tt.head() # 앞 5줄을 출력

In [ ]:
# 나이 별 분포

tt.age.plot(kind = 'hist')

In [ ]:
# 범주화

def age_cat(age) :
    cat = ''
    if age <= 5 : cat = 'Baby'
    elif age <= 12 : cat = 'Child'
    elif age <= 18  : cat = 'Teenager'
    elif age <= 35 : cat = 'Young Adult'
    elif age <= 60 : cat = 'Adult'
    else : 'elderly'
    return cat

tt['age_cat'] = tt['age'].apply(lambda x : age_cat(x))
tt.head()

In [ ]:
tt.age.unique()

In [ ]:
!pip install Pillow

In [ ]:
from PIL import Image
im = Image.open('imgname.jpg')
im.show()

In [ ]:
# 123456789를 입력하면 천 단위로 콤마로 구분하여 출력

x = int(input('숫자를 입력하세요. : '))

print('{:,}'.format(x))
print(format(x,','))

In [7]:
num = input('숫자를 입력해주세요. :')

if num.isdigit() :
    num = num[::-1]
    ret = ''
    
    for i, c in enumerate(num) :
        i += 1
        if i != len(num) and i % 3 == 0 :
            ret += (c+',')
        else :
            ret += c
    ret = ret[::-1]
    print(ret)
else:
    print(f'입력한 내용 {num} : 숫자가 아닙니다.')

숫자를 입력해주세요. :123456789
123,456,789

In [8]:
# example_list = ['요소A', '요소B', '요소C']를 파이썬 내장 함수를 이용하여 아래와 같이 출력
# 0번째 요소는 요소A입니다.
# 1번째 요소는 요소B입니다.
# 2번째 요소는 요소C입니다.

example_list = ['요소A', '요소B', '요소C']

for i in range(len(example_list)) :
    
    x = example_list[i]
    
    print('%d번째 요소는 %s입니다.' %(i,x))
#    print(f'{i}번째 요소는 {x}입니다.')

0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

In [10]:
example_list = ['요소A', '요소B', '요소C']

for i, j in enumerate(example_list) :
    print(f'{i}번째 요소는 {j}입니다.')

0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

In [11]:
# 500 1000사이의 정수중 5와 7 공배수의 합 구하기

r = 0

for i in range(500, 1001) :
    
    if (i % 5 == 0) & (i % 7 == 0) :
        
        r += i
           
print(r)

10535

In [ ]:
def mul_a(x, y) :
    
    r = 0
    
    for i in range(x, y) :
        
        if  (i % 2 == 0) & (i % 5 == 0) :
            r += i
            
        else :
            i += 1
    
    return r


print(mul_a(1, 101))

In [ ]:
with open('yob1880.txt', 'r') as f :
    data = f.read()
    
    print(data)

In [17]:
import re

with open('yob1880.txt', 'r') as f :

    data = f.readlines()
    
    r = 0
    
    for i in data :
        
        num = re.findall('\d+', i)
        num = ''.join(num) # 리스트를 문자로
        r += int(num) # 문자를 숫자로

        
    print(f'1880년에 태어난 출생아 수 {r}명')

1880년에 태어난 출생아 수 201482명

In [17]:
# 주어진 데이터에서 1880년에서 2015년 까지 연도별 출생아 수
import re

def bcnt(a, b) :
    

    for i in range(a, b + 1) :

        t = (f'yob{i}.txt')


        with open(t, 'r') as f :

            data = f.readlines()
            

            r = 0

            for n in data :

                num = re.findall('\d+', n) # \d+ 하나 혹은 그 이상 연결된 숫자
                num = ''.join(num) # 리스트를 문자로
                r += int(num) # 문자를 숫자로

            r1 = print(f'{i}년에 태어난 출생아 수 {r}명\n')
            
    return r1

bcnt(1880,2015)

1880년에 태어난 출생아 수 201482명

1881년에 태어난 출생아 수 192696명

1882년에 태어난 출생아 수 221534명

1883년에 태어난 출생아 수 216945명

1884년에 태어난 출생아 수 243463명

1885년에 태어난 출생아 수 240854명

1886년에 태어난 출생아 수 255319명

1887년에 태어난 출생아 수 247396명

1888년에 태어난 출생아 수 299474명

1889년에 태어난 출생아 수 288948명

1890년에 태어난 출생아 수 301401명

1891년에 태어난 출생아 수 286675명

1892년에 태어난 출생아 수 334377명

1893년에 태어난 출생아 수 325222명

1894년에 태어난 출생아 수 338692명

1895년에 태어난 출생아 수 351024명

1896년에 태어난 출생아 수 357486명

1897년에 태어난 출생아 수 346958명

1898년에 태어난 출생아 수 381461명

1899년에 태어난 출생아 수 339235명

1900년에 태어난 출생아 수 450312명

1901년에 태어난 출생아 수 345816명

1902년에 태어난 출생아 수 386734명

1903년에 태어난 출생아 수 381205명

1904년에 태어난 출생아 수 403496명

1905년에 태어난 출생아 수 423941명

1906년에 태어난 출생아 수 428461명

1907년에 태어난 출생아 수 465395명

1908년에 태어난 출생아 수 488658명

1909년에 태어난 출생아 수 511231명

1910년에 태어난 출생아 수 590719명

1911년에 태어난 출생아 수 644271명

1912년에 태어난 출생아 수 988059명

1913년에 태어난 출생아 수 1137094명

1914년에 태어난 출생아 수 1416325명

1915년에 태어난 출생아 수 1832479명

1916년에 태어난 출생아 수 1934423명

1917년에 태어난 출생아 수 2006798명

1918년에 태어난 출생아 수 2171173명

1919년에 태어난 출생아 수 2110271명

1920년에 태어난 출생아 수 2262732명

1921년에 태어난 출생아 수 2334466명

1922년에 태어난 출생아 수 2289237명

1923년에 태어난 출생아 수 2302513명

1924년에 태어난 출생아 수 2381651명

1925년에 태어난 출생아 수 2333317명

1926년에 태어난 출생아 수 2295866명

1927년에 태어난 출생아 수 2319167명

1928년에 태어난 출생아 수 2260682명

1929년에 태어난 출생아 수 2191868명

1930년에 태어난 출생아 수 2223041명

1931년에 태어난 출생아 수 2103795명

1932년에 태어난 출생아 수 2110903명

1933년에 태어난 출생아 수 1998953명

1934년에 태어난 출생아 수 2076390명

1935년에 태어난 출생아 수 2089451명

1936년에 태어난 출생아 수 2077252명

1937년에 태어난 출생아 수 2130258명

1938년에 태어난 출생아 수 2212192명

1939년에 태어난 출생아 수 2203166명

1940년에 태어난 출생아 수 2302300명

1941년에 태어난 출생아 수 2435953명

1942년에 태어난 출생아 수 2731383명

1943년에 태어난 출생아 수 2822023명

1944년에 태어난 출생아 수 2689735명

1945년에 태어난 출생아 수 2652676명

1946년에 태어난 출생아 수 3194937명

1947년에 태어난 출생아 수 3601943명

1948년에 태어난 출생아 수 3452247명

1949년에 태어난 출생아 수 3484586명

1950년에 태어난 출생아 수 3504924명

1951년에 태어난 출생아 수 3682005명

1952년에 태어난 출생아 수 3798208명

1953년에 태어난 출생아 수 3852044명

1954년에 태어난 출생아 수 3979147명

1955년에 태어난 출생아 수 4012757명

1956년에 태어난 출생아 수 4121274명

1957년에 태어난 출생아 수 4200146명

1958년에 태어난 출생아 수 4131784명

1959년에 태어난 출생아 수 4156617명

1960년에 태어난 출생아 수 4154877명

1961년에 태어난 출생아 수 4140040명

1962년에 태어난 출생아 수 4035565명

1963년에 태어난 출생아 수 3958985명

1964년에 태어난 출생아 수 3888029명

1965년에 태어난 출생아 수 3626440명

1966년에 태어난 출생아 수 3475917명

1967년에 태어난 출생아 수 3395346명

1968년에 태어난 출생아 수 3379166명

1969년에 태어난 출생아 수 3476709명

1970년에 태어난 출생아 수 3607897명

1971년에 태어난 출생아 수 3432862명

1972년에 태어난 출생아 수 3143970명

1973년에 태어난 출생아 수 3017571명

1974년에 태어난 출생아 수 3040646명

1975년에 태어난 출생아 수 3020048명

1976년에 태어난 출생아 수 3035149명

1977년에 태어난 출생아 수 3176872명

1978년에 태어난 출생아 수 3174146명

1979년에 태어난 출생아 수 3327234명

1980년에 태어난 출생아 수 3444130명

1981년에 태어난 출생아 수 3458712명

1982년에 태어난 출생아 수 3507029명

1983년에 태어난 출생아 수 3462131명

1984년에 태어난 출생아 수 3487106명

1985년에 태어난 출생아 수 3567395명

1986년에 태어난 출생아 수 3555131명

1987년에 태어난 출생아 수 3603785명

1988년에 태어난 출생아 수 3692739명

1989년에 태어난 출생아 수 3843257명

1990년에 태어난 출생아 수 3950469명

1991년에 태어난 출생아 수 3894012명

1992년에 태어난 출생아 수 3839875명

1993년에 태어난 출생아 수 3768994명

1994년에 태어난 출생아 수 3716497명

1995년에 태어난 출생아 수 3660981명

1996년에 태어난 출생아 수 3645912명

1997년에 태어난 출생아 수 3624287명

1998년에 태어난 출생아 수 3676499명

1999년에 태어난 출생아 수 3691772명

2000년에 태어난 출생아 수 3777294명

2001년에 태어난 출생아 수 3740600명

2002년에 태어난 출생아 수 3735317명

2003년에 태어난 출생아 수 3799121명

2004년에 태어난 출생아 수 3817389명

2005년에 태어난 출생아 수 3840755명

2006년에 태어난 출생아 수 3951428명

2007년에 태어난 출생아 수 3992280명

2008년에 태어난 출생아 수 3924410명

2009년에 태어난 출생아 수 3813356명

2010년에 태어난 출생아 수 3688069명

2011년에 태어난 출생아 수 3648686명

2012년에 태어난 출생아 수 3646143명

2013년에 태어난 출생아 수 3631489명

2014년에 태어난 출생아 수 3688118명

2015년에 태어난 출생아 수 3668183명

In [36]:
# 연도 성별 출생아수 구하기
# https://pybasall.tistory.com/214
# Q print를 썼을때 none이 나오는 이유

import re # 정규 표현식

def birth(a, b) :
    
    for i in range(a, b + 1) :
        
        y = (f'yob{i}.txt')
        
        with open(y, 'r') as f :
            
            data = f.readlines()
            
            r = 0
            r1 = 0
            
            for j in data :

                gender = re.findall(',\w,', j)
                gender = ''.join(gender)
                gender = gender.replace(',', '')
                    
                num = re.findall('\d+', j)
                num = ''.join(num)
                
                if gender == 'M' :
                    
                    r += int(num)
                    
                
                else :
                    
                    r1 += int(num)
                    
            r2 = print(f'{i}년에 태어난 성별이 M 인 출생아 수 {r}명 성별이 F 인 출생아 수 {r1}명\n')
        
  
    return r2


birth(1880,2015)

1880년에 태어난 성별이 M 인 출생아 수 110490명 성별이 F 인 출생아 수 90992명

1881년에 태어난 성별이 M 인 출생아 수 100743명 성별이 F 인 출생아 수 91953명

1882년에 태어난 성별이 M 인 출생아 수 113686명 성별이 F 인 출생아 수 107848명

1883년에 태어난 성별이 M 인 출생아 수 104627명 성별이 F 인 출생아 수 112318명

1884년에 태어난 성별이 M 인 출생아 수 114443명 성별이 F 인 출생아 수 129020명

1885년에 태어난 성별이 M 인 출생아 수 107799명 성별이 F 인 출생아 수 133055명

1886년에 태어난 성별이 M 인 출생아 수 110785명 성별이 F 인 출생아 수 144534명

1887년에 태어난 성별이 M 인 출생아 수 101415명 성별이 F 인 출생아 수 145981명

1888년에 태어난 성별이 M 인 출생아 수 120850명 성별이 F 인 출생아 수 178624명

1889년에 태어난 성별이 M 인 출생아 수 110582명 성별이 F 인 출생아 수 178366명

1890년에 태어난 성별이 M 인 출생아 수 111025명 성별이 F 인 출생아 수 190376명

1891년에 태어난 성별이 M 인 출생아 수 101193명 성별이 F 인 출생아 수 185482명

1892년에 태어난 성별이 M 인 출생아 수 122036명 성별이 F 인 출생아 수 212341명

1893년에 태어난 성별이 M 인 출생아 수 112317명 성별이 F 인 출생아 수 212905명

1894년에 태어난 성별이 M 인 출생아 수 115770명 성별이 F 인 출생아 수 222922명

1895년에 태어난 성별이 M 인 출생아 수 117396명 성별이 F 인 출생아 수 233628명

1896년에 태어난 성별이 M 인 출생아 수 119568명 성별이 F 인 출생아 수 237918명

1897년에 태어난 성별이 M 인 출생아 수 112758명 성별이 F 인 출생아 수 234200명

1898년에 태어난 성별이 M 인 출생아 수 122691명 성별이 F 인 출생아 수 258770명

1899년에 태어난 성별이 M 인 출생아 수 106212명 성별이 F 인 출생아 수 233023명

1900년에 태어난 성별이 M 인 출생아 수 150490명 성별이 F 인 출생아 수 299822명

1901년에 태어난 성별이 M 인 출생아 수 106469명 성별이 F 인 출생아 수 239347명

1902년에 태어난 성별이 M 인 출생아 수 122659명 성별이 F 인 출생아 수 264075명

1903년에 태어난 성별이 M 인 출생아 수 119233명 성별이 F 인 출생아 수 261972명

1904년에 태어난 성별이 M 인 출생아 수 128125명 성별이 F 인 출생아 수 275371명

1905년에 태어난 성별이 M 인 출생아 수 132318명 성별이 F 인 출생아 수 291623명

1906년에 태어난 성별이 M 인 출생아 수 133157명 성별이 F 인 출생아 수 295304명

1907년에 태어난 성별이 M 인 출생아 수 146830명 성별이 F 인 출생아 수 318565명

1908년에 태어난 성별이 M 인 출생아 수 154343명 성별이 F 인 출생아 수 334315명

1909년에 태어난 성별이 M 인 출생아 수 163999명 성별이 F 인 출생아 수 347232명

1910년에 태어난 성별이 M 인 출생아 수 194216명 성별이 F 인 출생아 수 396503명

1911년에 태어난 성별이 M 인 출생아 수 225967명 성별이 F 인 출생아 수 418304명

1912년에 태어난 성별이 M 인 출생아 수 429946명 성별이 F 인 출생아 수 558113명

1913년에 태어난 성별이 M 인 출생아 수 512558명 성별이 F 인 출생아 수 624536명

1914년에 태어난 성별이 M 인 출생아 수 654764명 성별이 F 인 출생아 수 761561명

1915년에 태어난 성별이 M 인 출생아 수 848603명 성별이 F 인 출생아 수 983876명

1916년에 태어난 성별이 M 인 출생아 수 890095명 성별이 F 인 출생아 수 1044328명

1917년에 태어난 성별이 M 인 출생아 수 925508명 성별이 F 인 출생아 수 1081290명

1918년에 태어난 성별이 M 인 출생아 수 1013522명 성별이 F 인 출생아 수 1157651명

1919년에 태어난 성별이 M 인 출생아 수 980137명 성별이 F 인 출생아 수 1130134명

1920년에 태어난 성별이 M 인 출생아 수 1064445명 성별이 F 인 출생아 수 1198287명

1921년에 태어난 성별이 M 인 출생아 수 1101447명 성별이 F 인 출생아 수 1233019명

1922년에 태어난 성별이 M 인 출생아 수 1088286명 성별이 F 인 출생아 수 1200951명

1923년에 태어난 성별이 M 인 출생아 수 1096187명 성별이 F 인 출생아 수 1206326명

1924년에 태어난 성별이 M 인 출생아 수 1132749명 성별이 F 인 출생아 수 1248902명

1925년에 태어난 성별이 M 인 출생아 수 1115952명 성별이 F 인 출생아 수 1217365명

1926년에 태어난 성별이 M 인 출생아 수 1110516명 성별이 F 인 출생아 수 1185350명

1927년에 태어난 성별이 M 인 출생아 수 1126817명 성별이 F 인 출생아 수 1192350명

1928년에 태어난 성별이 M 인 출생아 수 1107542명 성별이 F 인 출생아 수 1153140명

1929년에 태어난 성별이 M 인 출생아 수 1075396명 성별이 F 인 출생아 수 1116472명

1930년에 태어난 성별이 M 인 출생아 수 1097224명 성별이 F 인 출생아 수 1125817명

1931년에 태어난 성별이 M 인 출생아 수 1039243명 성별이 F 인 출생아 수 1064552명

1932년에 태어난 성별이 M 인 출생아 수 1043884명 성별이 F 인 출생아 수 1067019명

1933년에 태어난 성별이 M 인 출생아 수 991205명 성별이 F 인 출생아 수 1007748명

1934년에 태어난 성별이 M 인 출생아 수 1032326명 성별이 F 인 출생아 수 1044064명

1935년에 태어난 성별이 M 인 출생아 수 1040987명 성별이 F 인 출생아 수 1048464명

1936년에 태어난 성별이 M 인 출생아 수 1037009명 성별이 F 인 출생아 수 1040243명

1937년에 태어난 성별이 M 인 출생아 수 1066379명 성별이 F 인 출생아 수 1063879명

1938년에 태어난 성별이 M 인 출생아 수 1108880명 성별이 F 인 출생아 수 1103312명

1939년에 태어난 성별이 M 인 출생아 수 1106617명 성별이 F 인 출생아 수 1096549명

1940년에 태어난 성별이 M 인 출생아 수 1158943명 성별이 F 인 출생아 수 1143357명

1941년에 태어난 성별이 M 인 출생아 수 1228011명 성별이 F 인 출생아 수 1207942명

1942년에 태어난 성별이 M 인 출생아 수 1380812명 성별이 F 인 출생아 수 1350571명

1943년에 태어난 성별이 M 인 출생아 수 1426908명 성별이 F 인 출생아 수 1395115명

1944년에 태어난 성별이 M 인 출생아 수 1362607명 성별이 F 인 출생아 수 1327128명

1945년에 태어난 성별이 M 인 출생아 수 1345660명 성별이 F 인 출생아 수 1307016명

1946년에 태어난 성별이 M 인 출생아 수 1623728명 성별이 F 인 출생아 수 1571209명

1947년에 태어난 성별이 M 인 출생아 수 1829293명 성별이 F 인 출생아 수 1772650명

1948년에 태어난 성별이 M 인 출생아 수 1754438명 성별이 F 인 출생아 수 1697809명

1949년에 태어난 성별이 M 인 출생아 수 1773754명 성별이 F 인 출생아 수 1710832명

1950년에 태어난 성별이 M 인 출생아 수 1791474명 성별이 F 인 출생아 수 1713450명

1951년에 태어난 성별이 M 인 출생아 수 1881716명 성별이 F 인 출생아 수 1800289명

1952년에 태어난 성별이 M 인 출생아 수 1943744명 성별이 F 인 출생아 수 1854464명

1953년에 태어난 성별이 M 인 출생아 수 1971136명 성별이 F 인 출생아 수 1880908명

1954년에 태어난 성별이 M 인 출생아 수 2037515명 성별이 F 인 출생아 수 1941632명

1955년에 태어난 성별이 M 인 출생아 수 2058035명 성별이 F 인 출생아 수 1954722명

1956년에 태어난 성별이 M 인 출생아 수 2113761명 성별이 F 인 출생아 수 2007513명

1957년에 태어난 성별이 M 인 출생아 수 2155921명 성별이 F 인 출생아 수 2044225명

1958년에 태어난 성별이 M 인 출생아 수 2120843명 성별이 F 인 출생아 수 2010941명

1959년에 태어난 성별이 M 인 출생아 수 2133539명 성별이 F 인 출생아 수 2023078명

1960년에 태어난 성별이 M 인 출생아 수 2132756명 성별이 F 인 출생아 수 2022121명

1961년에 태어난 성별이 M 인 출생아 수 2122608명 성별이 F 인 출생아 수 2017432명

1962년에 태어난 성별이 M 인 출생아 수 2068953명 성별이 F 인 출생아 수 1966612명

1963년에 태어난 성별이 M 인 출생아 수 2031746명 성별이 F 인 출생아 수 1927239명

1964년에 태어난 성별이 M 인 출생아 수 1993353명 성별이 F 인 출생아 수 1894676명

1965년에 태어난 성별이 M 인 출생아 수 1861377명 성별이 F 인 출생아 수 1765063명

1966년에 태어난 성별이 M 인 출생아 수 1783992명 성별이 F 인 출생아 수 1691925명

1967년에 태어난 성별이 M 인 출생아 수 1744507명 성별이 F 인 출생아 수 1650839명

1968년에 태어난 성별이 M 인 출생아 수 1738999명 성별이 F 인 출생아 수 1640167명

1969년에 태어난 성별이 M 인 출생아 수 1789709명 성별이 F 인 출생아 수 1687000명

1970년에 태어난 성별이 M 인 출생아 수 1859647명 성별이 F 인 출생아 수 1748250명

1971년에 태어난 성별이 M 인 출생아 수 1769292명 성별이 F 인 출생아 수 1663570명

1972년에 태어난 성별이 M 인 출생아 수 1622736명 성별이 F 인 출생아 수 1521234명

1973년에 태어난 성별이 M 인 출생아 수 1559416명 성별이 F 인 출생아 수 1458155명

1974년에 태어난 성별이 M 인 출생아 수 1573195명 성별이 F 인 출생아 수 1467451명

1975년에 태어난 성별이 M 인 출생아 수 1562298명 성별이 F 인 출생아 수 1457750명

1976년에 태어난 성별이 M 인 출생아 수 1569980명 성별이 F 인 출생아 수 1465169명

1977년에 태어난 성별이 M 인 출생아 수 1643802명 성별이 F 인 출생아 수 1533070명

1978년에 태어난 성별이 M 인 출생아 수 1642388명 성별이 F 인 출생아 수 1531758명

1979년에 태어난 성별이 M 인 출생아 수 1722104명 성별이 F 인 출생아 수 1605130명

1980년에 태어난 성별이 M 인 출생아 수 1784088명 성별이 F 인 출생아 수 1660042명

1981년에 태어난 성별이 M 인 출생아 수 1791101명 성별이 F 인 출생아 수 1667611명

1982년에 태어난 성별이 M 인 출생아 수 1814211명 성별이 F 인 출생아 수 1692818명

1983년에 태어난 성별이 M 인 출생아 수 1791964명 성별이 F 인 출생아 수 1670167명

1984년에 태어난 성별이 M 인 출생아 수 1803995명 성별이 F 인 출생아 수 1683111명

1985년에 태어난 성별이 M 인 출생아 수 1847231명 성별이 F 인 출생아 수 1720164명

1986년에 태어난 성별이 M 인 출생아 수 1840347명 성별이 F 인 출생아 수 1714784명

1987년에 태어난 성별이 M 인 출생아 수 1865804명 성별이 F 인 출생아 수 1737981명

1988년에 태어난 성별이 M 인 출생아 수 1912764명 성별이 F 인 출생아 수 1779975명

1989년에 태어난 성별이 M 인 출생아 수 2000082명 성별이 F 인 출생아 수 1843175명

1990년에 태어난 성별이 M 인 출생아 수 2052662명 성별이 F 인 출생아 수 1897807명

1991년에 태어난 성별이 M 인 출생아 수 2019523명 성별이 F 인 출생아 수 1874489명

1992년에 태어난 성별이 M 인 출생아 수 1996492명 성별이 F 인 출생아 수 1843383명

1993년에 태어난 성별이 M 인 출생아 수 1960486명 성별이 F 인 출생아 수 1808508명

1994년에 태어난 성별이 M 인 출생아 수 1931313명 성별이 F 인 출생아 수 1785184명

1995년에 태어난 성별이 M 인 출생아 수 1902971명 성별이 F 인 출생아 수 1758010명

1996년에 태어난 성별이 M 인 출생아 수 1893548명 성별이 F 인 출생아 수 1752364명

1997년에 태어난 성별이 M 인 출생아 수 1884324명 성별이 F 인 출생아 수 1739963명

1998년에 태어난 성별이 M 인 출생아 수 1910424명 성별이 F 인 출생아 수 1766075명

1999년에 태어난 성별이 M 인 출생아 수 1918984명 성별이 F 인 출생아 수 1772788명

2000년에 태어난 성별이 M 인 출생아 수 1962556명 성별이 F 인 출생아 수 1814738명

2001년에 태어난 성별이 M 인 출생아 수 1941401명 성별이 F 인 출생아 수 1799199명

2002년에 태어난 성별이 M 인 출생아 수 1939950명 성별이 F 인 출생아 수 1795367명

2003년에 태어난 성별이 M 인 출생아 수 1973612명 성별이 F 인 출생아 수 1825509명

2004년에 태어난 성별이 M 인 출생아 수 1983010명 성별이 F 인 출생아 수 1834379명

2005년에 태어난 성별이 M 인 출생아 수 1995115명 성별이 F 인 출생아 수 1845640명

2006년에 태어난 성별이 M 인 출생아 수 2052652명 성별이 F 인 출생아 수 1898776명

2007년에 태어난 성별이 M 인 출생아 수 2072505명 성별이 F 인 출생아 수 1919775명

2008년에 태어난 성별이 M 인 출생아 수 2036750명 성별이 F 인 출생아 수 1887660명

2009년에 태어난 성별이 M 인 출생아 수 1979895명 성별이 F 인 출생아 수 1833461명

2010년에 태어난 성별이 M 인 출생아 수 1914629명 성별이 F 인 출생아 수 1773440명

2011년에 태어난 성별이 M 인 출생아 수 1894262명 성별이 F 인 출생아 수 1754424명

2012년에 태어난 성별이 M 인 출생아 수 1890889명 성별이 F 인 출생아 수 1755254명

2013년에 태어난 성별이 M 인 출생아 수 1883945명 성별이 F 인 출생아 수 1747544명

2014년에 태어난 성별이 M 인 출생아 수 1910876명 성별이 F 인 출생아 수 1777242명

2015년에 태어난 성별이 M 인 출생아 수 1898858명 성별이 F 인 출생아 수 1769325명

과제 - Q54.
카운터에서 거스름돈으로 사용할 500원, 100원, 50원, 10원짜리 동전이 무한히 존재한다고 가정한다. 
손님에게 거슬러 줘야 할 돈이 N원일 때 거슬러줘야 할 동전의 최소 개수를 구하세요.
거슬러 줘야 할 돈 N은 항상 10의 배수이다. N은 2750원이다.

In [4]:
cnt = 0
coins = [500, 100, 50, 10]


while True :
    
    try :

        m_c = int(input('거슬러 주어야 할 금액 : ')) 
        print('')

    except :

        print('\n잘못 입력하셨습니다. 올바른 금액을 다시 입력해주세요.\n')
        continue

    else :

        if m_c > 0 :

            for i in coins :

                cnt += m_c // i

                m_c = m_c % i
                
            print(f'거슬러 주어야 할 금액에 대한 동전의 최소 개수는 {cnt} 개 입니다.')
                

        else :
            print('\n잘못 입력하셨습니다. 올바른 금액을 다시 입력해주세요.\n')
            continue
    
    break

거슬러 주어야 할 금액 : 10

거슬러 주어야 할 금액에 대한 동전의 최소 개수는 1 개 입니다.

과제 - Q56.
파일이름과 특정 단어을 인자로 입력하면 그 파일에 있는 특정 단어의 개수를 반환하는 
사용자 함수를 이용하여 mydata 파일에서 how의 개수를 출력하세요.

In [18]:
def find_d(name, word) :
    
    with open(name, 'r') as f :
        
        data = f.read()
        
        r = data.count(word)
        
        return r

find_d('mydata.txt', 'how')

2

In [24]:
def countword(file, word) :
    with open(file, 'r') as f :
        txt = f.read()
        txt = txt.lower()
        pos = txt.find(word)# 인덱스
        count = 0
        while pos != -1 :  # 존재할때
            count += 1
            pos = txt.find(word, pos + 1)
    return count

file = input('file 이름을 입력해주세요. : ')
word = input('file 에서 개수를 구할 단어를 입력하세요. :')
ret = countword(file, word)
print(f'{word}의 개수: {ret}')

file 이름을 입력해주세요. : mydata.txt
file 에서 개수를 구할 단어를 입력하세요. :how
how의 개수: 2

#### 파이썬에서 -1은 다양한 방식으로 사용됩니다. 다음은 일부 예시입니다:

- 인덱스: 파이썬에서는 리스트, 문자열, 튜플 등의 시퀀스 자료형의 인덱스를 지정할 때 음수를 사용할 수 있습니다. 이때 -1은 시퀀스의 마지막 요소를 가리킵니다. 예를 들어, 리스트에서 my_list[-1]은 리스트의 마지막 요소를 반환합니다.

- 슬라이스: 마찬가지로, 시퀀스 자료형의 슬라이스를 지정할 때도 음수를 사용할 수 있습니다. 이때 -1은 시퀀스의 마지막 요소를 가리킵니다. 예를 들어, 리스트에서 my_list[:-1]은 마지막 요소를 제외한 모든 요소를 반환합니다.

- 반환 값: 일부 함수에서는 실패 또는 오류를 나타내는 값을 -1로 반환합니다. 예를 들어, 문자열에서 find() 메서드는 문자열에서 지정된 문자열을 찾을 수 없을 때 -1을 반환합니다.

- 비트 연산: 비트 연산에서는 -1이 모든 비트가 1인 이진수로 사용됩니다. 예를 들어, 0b11111111은 10진수로 255이며, -1과 같습니다.